ul.inde {
width: 100px;
list-style: none;
margin: 5;
padding:0;
border-left:0.1.1px solid #7C7C7C;
}

ul.inde li a:link, ul.inde li a:visited {
padding: .10em;
display: block;
text-decoration: none;
color: #333;
background: #F4F4F4;
border-top:3px solid #7C7C7C;
border-right:1px solid #7C7C7C;
border-bottom:3px solid #9C9C9C;
text-align: center;
}
ul.inde li a:hover{
	background-color: #FC8;
}
